{% extends 'base.html' %} {% block header %}
<h1 class="centrar">
  {% block title %} Completar: {{ recordatorio['description'] }}{% endblock %}
</h1>
{% endblock %} {% block content %}
<div class="formulario Columna inicio centrarcontenido">
  <form method="POST" class="Columna inicio centrarcontenido centrar varios">
    <label for="completed">Confirmar</label>
    <input type="checkbox" name="completed" id="completed" {% if
    recordatorio['completed'] == 1 %}checked{% endif %} />
    <input class="boton" type="submit" value="Guardar" />
  </form>
  <div class="box">

    <form class="actualizacion"
    action="{{ url_for('patrones.delete',id=recordatorio['id']) }}"
    method="POST"
  >
    <input
      class="danger boton"
      type="submit"
      value="Eliminar"
      onclick="return confirm('¿estas seguro de querer eliminarlo?')"
    />
    <a class="action boton" href="{{ url_for('patrones.index') }}">Volver</a>
  </form>

  </div>
  
  
</div>
{% endblock %}
