{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %} Crear medicinas {% endblock %}</h1>
{% endblock %} {% block content %}

<section class="form-register">
  <h2 class="centrar">MEDICINAS</h2>

  <form method="POST">
    <input
      class="controls"
      type="text"
      name="nombre_medicamento"
      id="nombre_medicamento"
      placeholder="Nombre..."
    />

    <input
      class="controls"
      type="text"
      name="descripcion_medicamento"
      id="descripcion_medicamento"
      placeholder="descripcion..."
    />

    <input
      class="controls"
      type="text"
      name="dosis_medicamento"
      id="dosis_medicamento"
      placeholder="dosis..."
    />

    <input
      class="controls"
      type="text"
      name="posologia_medicamento"
      id="posologia_medicamento"
      placeholder="posologia..."
    />

    <input
      class="controls"
      type="text"
      name="precio_medicamento"
      id="precio_medicamento"
      placeholder="precio..."
    />

    <input
      class="controls"
      type="text"
      name="cantidad_medicamento"
      id="cantidad_medicamento"
      placeholder="cantidad..."
    />

    <input class="boton" type="submit" value="Guardar" />
  </form>

  <ul id="elementoUl"></ul>
</section>

<div class="centrar">
  <a class="action boton" href="{{ url_for('patrones.index') }}">Volver</a>
</div>

{% endblock %}
