{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %} Nuevo Recordatorio {% endblock %}</h1>
{% endblock %} {% block content %}

<section class="form-register">
  <h2 class="centrar">RECORDATORIOS</h2>

  <form method="POST">
    <input
      class="controls"
      type="text"
      name="description"
      id="description"
      placeholder="Recordatorio..."
    />
    <input class="boton" type="submit" value="Guardar" />
  </form>

  <ul id="elementoUl"></ul>
</section>

<div class="centrar">
  <a class="action boton" href="{{ url_for('patrones.index') }}">Volver</a>
</div>

{% endblock %}
