{% extends 'base.html' %} {% block header %}

<div class="centrar">
  {% if g.user %}
  <a class="action boton" href="{{ url_for('patrones.create') }}"
    >Nuevo recordatorio</a
  >
  <!--
    <a class="action boton" href="{{ url_for('patrones.createM') }}"
    >Nuevo medicamento</a
  >
  -->
</div>
<br>
<div class="centrar">
  <a class="action boton" href="{{ url_for('patrones.createC') }}"
    >Nueva cita medica</a
  >
  <!--
  <a class="action boton" href="{{ url_for('patrones.createObF') }}"
    >Nueva Obligación Financiera</a
  >
  -->
  {% endif %}
</div>
{% endblock %} {% block content %}
<br />
<div class="container">
  <div class="boxline">
    <ul>
      <div>
        {% for recordatorio in recordatorios %}
        <li class="pedido">
          <div class="Columna inicio centrarcontenido">
            <!-- Caja de Recordatorios -->
            <h2>{{ recordatorio['description'] }}</h2>

            <div class="about centrar">
              {{ recordatorio['created_at'].strftime('%H:%M') }} <br />
              {{ recordatorio['created_at'].strftime('%Y-%m-%d') }}
            </div>
            <div class="centrar varios">
              {% if g.user['role'] == 2 %}
              <a
                class="action boton"
                href="{{ url_for('patrones.update', id=recordatorio['id']) }}"
                >Editar</a
              >
              {% endif %}
              <!--
              <a
                class="action boton"
                href="{{ url_for('patrones.complete', id=recordatorio['id']) }}"
                >Completar</a
              >
              -->
            </div>
          </div>
        </li>
        {% if not loop.last %}
        <hr />
        {% endif %} {% endfor %}
      </div>
    </ul>
  </div>

  <div class="boxline">
    <ul>
      <div>
        {% for cita in citas %}
        <li class="pedido">
          <div class="Columna inicio centrarcontenido">
            <!-- Caja de Citas Medicas -->
            <h2>{{ cita['specialization'] }}</h2>

            <div class="about centrar">
              Doctor: {{ cita['doctor'] }} <br />
              Acompañante: {{ cita['companion'] }} <br />
              {{cita['date'].strftime('%Y-%m-%d') }}
            </div>
            <div class="centrar varios">
              {% if g.user['role'] == 2 %}
              <a
                class="action boton"
                href="{{ url_for('patrones.updateC', id=cita['id']) }}"
                >Editar</a
              >
              {% endif %}
            </div>
          </div>
        </li>
        {% if not loop.last %}
        <hr />
        {% endif %} {% endfor %}
      </div>
    </ul>
  </div>

  
 


</div>

{% endblock %}
