{% extends 'base.html' %} {% block header %}
<h1 class="centrar">
  {% block title %} Editar: {{ cita['description'] }}{% endblock %}
</h1>
{% endblock %} {% block content %}

<!--Campo donde se ingresa la cita nueva-->
<div class="formulario Columna inicio centrarcontenido">
  <form class="Columna inicio centrarcontenido" method="POST">
    <label for="phone">Fecha de cita</label>
    <input type="date" name="fecha_cita" id="fecha_cita" required />

    <input
      type="text"
      name="precio_medicamento"
      id="precio_medicamento"
      placeholder="Precio..."
    />

    <input
      type="text"
      name="doctor_cita"
      id="doctor_cita"
      placeholder="Doctor..."
    />

    <input
      type="text"
      name="especialidad_cita"
      id="especialidad_cita"
      placeholder="Especialidad..."
    />

    <input
      type="text"
      name="acompanante_cita"
      id="acompanante_cita"
      placeholder="Acompañante..."
    />

    <!--Boton para guardar la cita-->
    <input class="boton centrar" type="submit" value="Guardar" />
  </form>

  <!--Edicion de la cita-->
  <div class="box">
    <!--"id=recordatorio" tiene que cambiar por la variable de cita-->
    <form
      class="actualizacion"
      action="{{ url_for('patrones.deleteC',id=cita['id']) }}"
      method="POST"
    >
      <!--Elimnar cita-->
      <input
        class="boton"
        type="submit"
        value="Eliminar"
        onclick="return confirm('¿estas seguro de querer eliminarlo?')"
      />
      <a class="action boton" href="{{ url_for('patrones.index') }}">Volver</a>
    </form>
  </div>
</div>
{% endblock %}
