{% extends 'base.html' %} 
{% block header %}
<h1 class="centrar">{% block title %}Iniciar Sesión{% endblock %}</h1>
{% endblock %} 
{% block content %}

<section class="form-register">
  <form method="POST">

    <label for="Username">Username</label>
    <input class="controls" type="text" name="username" id="username" placeholder="Username..." required>

    <label for="password">Password</label>
    <input class="controls" type="password" name="password" id="password" placeholder="Password..." required>
    <input  class="botons" type="submit" value="Iniciar Sesión">
  </form>
</section>
{% endblock %}
